.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.result {
    color: black;
    font-size: 40px;
    font-family: 'Inter';
    font-weight: 700;
    word-wrap: break-word;
    text-align: left;
    margin-bottom: 300px;
    width: 50%;
}